# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

# Importing Datasets

In [4]:
train=pd.read_csv("train_dataset.csv")

In [5]:
test=pd.read_csv("test_dataset.csv")

# Extracting values

In [6]:
train.shape

(534, 11)

In [11]:
train.columns

Index(['Unnamed: 0', 'Pclass', 'Sex', 'Age', 'Fare', 'Embarked', 'FamilyCount',
       'Title', 'Has Cabin', 'IsAlone', 'Survived'],
      dtype='object')

In [16]:
train=train.set_index('Unnamed: 0')
train.shape

(534, 10)

In [17]:
X_train=train.iloc[:,0:9]
X_train.head()

,Pclass,Sex,Age,Fare,Embarked,FamilyCount,Title,Has Cabin,IsAlone
Unnamed: 0,,,,,,,,,
711,1,0,29.699118,26.5500,0,0,1,1,0
466,2,0,29.699118,0.0000,0,0,1,0,0
213,2,0,30.000000,13.0000,0,0,1,0,0
496,1,1,54.000000,78.2667,2,1,2,1,1
583,1,0,36.000000,40.1250,2,0,1,1,0

In [18]:
y_train=train.Survived

In [22]:
test=pd.read_csv("test_dataset.csv")

In [23]:
test=test.set_index('Unnamed: 0')

In [25]:
X_test=test.iloc[:,0:9]
y_test=test.Survived